MainMenu {
    visibility: hidden;
}
footer {
    visibility: hidden;
}
header {
    visibility: hidden;
}

button[title="View fullscreen"]{visibility: hidden;}
.css-d0oiir {visibility: hidden; display:none;}

img.avatar {
    border-radius: 50%;
    background-color: #26292f;
    display: inline;
}

div.link-list {
    border: 1px solid #b5d9ec;
    border-radius: 5px;
    padding: 15px;
    width: 100%;
    background-color: transparent;
    margin-top: 15px;
    cursor: pointer;
    color: #2e9aff;
}

div.link-list a {
    color: #b5d9ec;
    padding-left: 10px;
    text-decoration: none;
}

div.link-list a:hover {
    color: #2e9aff;
    padding-left: 10px;
    text-decoration: none;
}