MainMenu {
    visibility: hidden;
}
footer {
    visibility: hidden;
}
header {
    visibility: hidden;
}

img.avatar {
    border-radius: 50%;
    background-color: #26292f;
    display: inline;
}

div.link-list {
    border: 1px solid #b5d9ec;
    border-radius: 5px;
    padding: 15px;
    width: 100%;
    background-color: transparent;
    margin-top: 15px;
    cursor: pointer;
}

div.link-list a {
    padding-left: 10px;
    text-decoration: none;
}