MainMenu {
    visibility: hidden;
}
footer {
    visibility: hidden;
}
header {
    visibility: hidden;
}

img.avatar {
    border-radius: 50%;
    background-color: #26292f;
    display: inline;
}

div.link-list {
    border: 1 px solid blue;
    padding: 10px;
    width: 100%;
    background-color: #26292f;
}